/* front-end mentor template styles */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* 

Colors: 
  Red #EA5454
  Teal #44D3D2
  Orange #FCAE4A
  Blue #549EF2

*/

/* Base Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #4D4F62;
  font-family: 'Poppins', sans-serif;
}

p,
h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
  /* display: inline-block; */
}

header {
  margin: 0 auto;
  text-align: center;
  padding: 4em 0;
  max-width: 600px;
}

/* .container {
  width: 90%;
  margin: 0 auto;
}

.container-flex {
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
} */

.container-flex {
  margin: 0 auto;
  max-width: 1350px;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: auto;
  justify-content: center;
}


.card {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(41, 36, 114, 0.19), 0 6px 6px rgba(54, 26, 133, 0.23);
  margin: 0 2em 1.8em 0;
  order: 0;
  /* padding: 30px; */
  position: relative;
  width: 350px;
  height: 250px;
  /* max-width: 350px;
  max-height: 250px; */
  /* 
  max-width: 350px;
  max-height: 250px;
  display: flex;
  flex-direction: column; */
}

.card-content {
  padding: 1em 2em;;
}

.icon-container {
  margin: 1em 0;
  display: flex;
  justify-content: flex-end;
}

footer {
  margin-top: 3em;
}

@media (min-width: 725px) {
  /* .container-flex {
    min-height: 650px;
    height: 70vh;
  } */

  .container-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-container-center {
    display: flex;
    order: 1;
  }

}

@media (min-width: 1150px) {
  .card-container-center {
    flex-direction: column;
    order: 0;
  }
  .card {
    margin: 0 2em 1.8em 0;
  }
}


/* Typography */
/* 
  Font-sizes:
  .page-heading - M: 24px(1.5rem) - D: 36px(2.25rem), ExtraLight (200)
  .page-sub-heading -  M: 24px(1.5rem) - D: 36px(2.25rem), SemiBold (600)
  .page-summary -  15px(0.9375rem), Regular (400), opacity: 50%
  .card-title -  20px(1.25rem), SemiBold (600)
  .card-body -  13px(0.8125rem), Regular (400), opacity: 50%
*/
.page-heading {
  font-size: 1.5rem;
  font-weight: 200;
}

.page-sub-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-summary {
  font-size: 0.9375rem;
  font-weight: 400;
  opacity: .5;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-body {
  font-size: 0.8125rem;
  font-weight: 400;
  opacity: .5;
}

@media (min-width: 600px) {

  .page-heading,
  .page-sub-heading {
    font-size: 2.25rem;
  }

}


/* Individual Card Styles */
.teal {
  border-top: 5px solid #44D3D2;
}

.red {
  border-top: 5px solid #EA5454;
}

.orange {
  border-top: 5px solid #FCAE4A;
}

.blue {
  border-top: 5px solid #549EF2;
}

